
body{
    background-image: url('/img/bg-1920-2683.png'); /* Replace with your image path */
            background-size: cover; /* Ensures the background covers the entire page */
            background-repeat: no-repeat; /* Prevents the background from repeating */
            background-attachment: fixed; /* Keeps the background fixed during scrolling */
            background-position: center; /* Centers the background image */
            color: #fff; /* Optional: Set a default text color for better contrast */
}
.navbar-transparent {
    background-color: transparent;
    border: none;
}
.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
    color: #3f4b1b; /* Adjust text color as needed */
}
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:focus {
    background-color: rgba(255, 255, 255, 0.2); /* Optional hover effect */
}
#ancnav{
  color: #add143;
  font-weight: bolder;
}
#ancnav:hover{
  background-color: #add143;
  color: #fff;
  border-radius: 10px;
}
.navbar-custom .navbar-brand-left {
  float: left;
}
.navbar-custom .navbar-brand-right {
  float: right;
}
.navbar-custom .navbar-nav {
  float: none;
  display: inline-block;
}
.navbar-custom .navbar-collapse {
  text-align: center;
}
.navbar-custom .first-row {
  position: relative;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-custom .first-row {
  position: relative;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-toggle {
  border-color: #ddd;
  float: center;
}

@media (max-width: 768px) {
  
.navbar-logo-row {
    flex-direction: row;
    justify-content: space-between;
}
.navbar-link-row ul {
    flex-direction: column;
    align-items: center;
}
.navbar-link-row ul li {
    margin: 5px 0;
}
.navbar-toggle {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}
.navbar-header {
  text-align: center;
}
.navbar-header .navbar-toggle-wrapper {
  display: inline-block;
}
.navbar-brand-left img {
  width:80px;
}
.navbar-brand-right img {
  width:80px;
}
.footer-bs .footer-brand img{
  width: 172px;
}


}
.carousel {
    width: 100%;
    max-width: 100%;
  }

  .carousel-inner {
    width: 100%;
    max-width: 100%;
  }

  .carousel .item {
    width: 100%;
    max-width: 100%;
  }

  .carousel img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

.caption {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    height:550px; /* Adjust the spacing between content and button */
}
.btnl{
    color: #fff;
    background:#2f4858;
    width: 100%;
    height: 40px;
    border: none;
    align-self: flex-end;
}
.btnl:hover{
  background: white;
  border-color: #2f4858;
}
#containerx{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
#contthumb{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    
}


.footer-bs {
    background-color: transparent;
	padding: 60px 40px;
	color: #3f4b1b;
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(12, 12, 12, 0.7); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:#3f4b1b; font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:#3f4b1b; text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:#3f4b1b; }
.footer-bs .footer-nav ul.list a:hover { color:#3f4b1b; text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:#3f4b1b;}
.footer-bs .footer-social a:hover { color:#3f4b1b; text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(10, 9, 9, 0.7); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}